<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars | Services</title>
</head>
<body>
    <div class="carousel slide" data-ride="carousel" >
        <div class="carousel-inner">
            <div class="item active">
                <img class="d-block w-100" src="~/assets/images/car1.jpg" alt="Car" srcset="">
            </div>

            <div class="item active">
                <img class="d-block w-100" src="~/assets/images/car2.jpg" alt="Car" srcset="">
            </div>

            <div class="item active">
                <img class="d-block w-100" src="~/assets/images/car3.jpg" alt="Car" srcset="">
            </div>

            <div class="item active">
                <img class="d-block w-100" src="~/assets/images/car4.jpg" alt="Car" srcset="">
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> @* "Carousel". Available [online] https://getbootstrap.com/docs/4.0/components/carousel/ *@
    </div> @* "Bootstrap Carousel". Available [online] https://www.w3schools.com/bootstrap/bootstrap_carousel.asp *@

    <main class="main">
        <h2>Available Services <i>Integrity</i> Web-form</h2>
        <div class="form-group">
            <form method="get">
                <div class="col-mid-4 col-md-offset-1">
                    <label class="control-label">Date</label>
                    <input class="form-control input-sm" type="date"
                           name="Form.ScheduleDate">
                </div>

                <div class="col-mid-4 col-md-offset-1">
                    <label class="control-label">Time</label>
                    <input class="form-control input-sm" type="time"
                           name="Form.ScheduleTime">
                </div>

                <div class="col-mid-4 col-md-offset-1">
                    <label class="control-label">Vehicle</label>
                    <select class="form-select" id="VehicleLeaseVehicleId"  name="Form.VehicleId">
                        <option selected value="Audi">Audi</option>
                        <option value="BMW">BMW</option>
                        <option value="Honda">Honda</option>
                        <option value="Nissan">Nissan</option>
                        <option value="Toyota">Toyota</option>
                    </select>
                </div>

                <br>

                <div class="col-mid-4 col-md-offset-1">
                    <label class="control-label">Vehicle Body Type</label>
                    <select class="form-select" id="VehicleLeaseVehicleBodyType"  name="Form.VehicleBodyType">
                        <option selected value="Sedan">Sedan</option>
                        <option value="Wagon">Wagon</option>
                        <option value="SUV">SUV</option>
                        <option value="Van">Van</option>
                        <option value="Bus">Bus</option>
                    </select>
                </div>

                <br>

                <div class="col-mid-4 col-md-offset-1">
                    <label class="control-label"  >Text</label>
                    <input class="form-control input-sm" type="text"
                           name="IoMessage.Message">
                </div>

                <br>

                <button class="btn btn-info" type="submit">Search for a Vehicle Leasing</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>