<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home | Index</title>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Hello, and welcome!</h1>
        <p>Learn more about us: <a href="AboutUs">helping you helps us</a>!</p>
    </div>

	<div class="carousel slide" data-ride="carousel" >
		<div class="carousel-inner">
			<div class="item active">
				<img class="d-block w-100" src="~/assets/images/car1.jpg" alt="Car">
			</div>

			<div class="item active">
				<img class="d-block w-100" src="~/assets/images/car2.jpg" alt="Car">
			</div>

			<div class="item active">
				<img class="d-block w-100" src="~/assets/images/car3.jpg" alt="Car">
			</div>

			<div class="item active">
				<img class="d-block w-100" src="~/assets/images/car4.jpg" alt="Car">
			</div>
		</div>

		<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a> @* "Carousel". Available [online] https://getbootstrap.com/docs/4.0/components/carousel/ *@
	</div> @* "Bootstrap Carousel". Available [online] https://www.w3schools.com/bootstrap/bootstrap_carousel.asp *@

    @* <div class="wrapper">
        <div class="tooltip"><partial name="CarDetails" model="Model.MyCarDetailsListI"></partial></div>
    </div> *@
</body>
</html>